@tailwind base;
@tailwind components;
@tailwind utilities;

.sample_class {
  logoblue: #1c2536;
  lightwhite: #e6e6e6;
  logolightblue: #6aa6a6;
  logolighterblue: #95b1b0;
  logoBlue: #324b4b;
  first: #4A5569;
  second: #2E3643;
  third: #111A2B;
  four: #070F1D;
  yellow: #ff9717;
}

.scroller::-webkit-scrollbar {
  width: 5px;
}

.scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #393e46;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #353a42;
  border-radius: 4px;
}

.btn_default {
  width: auto;
  padding: 7px 20px;
  color: theme("colors.logoBlue");
  /* color: white; */
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #ff9717;
  cursor: pointer;
}

.btn_default__light {
  width: fit-content;
  padding: 5px 8px;
  color: theme("colors.logoBlue");
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  border: 2px solid theme("colors.logoBlue");
  border-radius: 4px;
}

.btn_default__delete {
  width: auto;
  padding: 7px 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #d32f2f;
  cursor: pointer;
}

.btn_default__cancel {
  width: auto;
  height: 43px;
  padding: 5px 18px;
  border-radius: 4px;
  color: #393e46;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #393e46;
  margin-left: 10px;
}

.btn_edit_event {
  border: 2px solid #393e46;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 16px;
  line-height: 18px;
  margin-left: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
}

.text_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px;
  overflow: hidden;
}

.page_title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 6px;
  color: #1c2536;
  /* background-color: #818994; */
  padding: 8px;
}

.color_palette {
}
