version: '1.0'
services:
  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    volumes:
      - ./redis-data:/data
  web:
    restart: on-failure
    build: ./server
    ports:
      - '4000:4000'
    depends_on:
      - redis
