.card-media {
  object-fit: contain;
}

.css-o69gx8-MuiCardMedia-root {
  height: 200px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  margin: 10px;
}

.css-185gdzj-MuiCardHeader-root,
.css-46bh2p-MuiCardContent-root,
.css-46bh2p-MuiCardContent-root:last-child,
.css-1012bww-MuiChip-root,
.css-r40f8v-MuiTypography-root,
.css-nrdprl-MuiTypography-root {
  color: white !important;
  background-color: #367272 !important;
}

.flexer {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.css-1869usk-MuiFormControl-root {
  display: inline-flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}
