.MuiBox-root css-1lvtzne {
  align-items: center !important;
}

.css-b3nsxf-MuiContainer-root {
  background-color: #367272 !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
}
.css-1uwgr7b-MuiTypography-root {
  font-size: 1.2rem !important;
}
